<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>
  {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>
  <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502007332" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/img/beianimg.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44030502007332号</p></a>
  </div>
</footer>


<div id="to-top">
  <span></span>
  <span></span>
</div>
